<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div>
		<h1>주문 목록</h1>
		<table border="1">
			<thead>
				<tr>
					<td>주문 번호</td>
					<td>고객 번호</td>
					<td>고객명</td>
					<td>구매 금액</td>
					<td>주문 날짜</td>
					<td>관리</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${list}">
					<td><a th:text="${item.orderid}" th:href=@{view/{orderid}(orderid=${item.orderid})}></a></td>
					<td th:text="${item.custid}" ></td>
					<td th:text="${item.customer.name}" ></td>
					<td th:text="${item.saleprice}"></td>
					<td th:text="${item.orderdate}"></td>
					<td><a th:href="@{delete/{orderid}(orderid=${item.orderid})}">삭제</a> <a th:href="@{update/{orderid}(orderid=${item.orderid})}">변경</a></td>
				</tr>
				
				<tr th:if="${list.size() < 1}">
					<td colspan="6">등록된 정보가 없습니다</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<a th:href="@{add}">등록</a>
	</div>
	<div>
		<a th:href="@{..}">이전</a>
	</div>
</body>
</html>