<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div>
		<form method="post">
			<div>
				<label>이름</label>
				<input name="name" type="text"/>
			</div>
			<div>
				<label>주소</label>
				<input name="address" type="text"/>
			</div>
			<div>
				<label>전화번호</label>
				<input name="phone" type="number"/>
			</div>
			<button>등록</button>
			<a href="list"><button type="button">취소</button></a>
		</form>
	</div>
</body>
</html>